@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "src/scss/var";

body {
	margin: 0;
	font: 400 16px/1.5 'Roboto', sans-serif;
	color: $m_color;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3 {
	margin: 0;
}
